@import "../../config";

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20em;
  position: relative;
  

  &::before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 5s;
    background-image: url(../../images/dummyAboutMePic.jpg);
  }

  &:hover {
    .about-title {
      transition: 4s;
      opacity: 0;
    }
    &::before {
      transition: 4s;
      opacity: 0.8;
    }
  }

  &-title {
    color: $secondary-color;
    font-size: 10rem;
    font-weight: 1000;
    opacity: 0.1;
    transition: transform 2s ease, opacity 4s;
  }

  &-me {
    position: absolute;
    color: $secondary-color;
    font-size: 2rem;
    font-weight: bold;

    &:before {
      opacity: 1;
    }
  }
}
