@import "../../config";

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20em;
  position: relative;

  &-title {
    color: $secondary-color;
    font-size: 10rem;
    font-weight: 1000;
    opacity: 0.5;
  }

  &-me {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
