@import '../../config';

.skills {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.image-container {
  @include flex-center;
  position: sticky;
  margin: 10em 0;
  top: 10em;
  border: 1px solid white;
  width: 70%;
  height: 600px;
}

.skill-card {
  @include flex-center;
  border-radius: 15%;
  width: 50%;
  @include transition-ease;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  &-1 {
    background-color: red;
    position: absolute;
    z-index: 6;
    transform: translate(-30%,30%);
  }
  &-2 {
    position: absolute;
    background-color: yellow;
    z-index: 5;
    transform: translate(-20%,20%);
  }
  &-3 {
    position: absolute;
    background-color: green;
    z-index: 4;
    transform: translate(-10%,10%);
  }
  &-4 {
    position: absolute;
    background-color: blue;
    z-index: 3;
  }
  &-5 {
    position: absolute;
    background-color: black;
    z-index: 2;
    transform: translate(10%,-10%);
  }
  &-6 {
    position: absolute;
    background-color: orange;
    z-index: 1;
    transform: translate(20%,-20%);
  }

}

.slide-out {
  @include transition-ease;
  transform: translateY(-1000%);
  &-1 {
    transform: translateX(-30%);
  }
  &-2 {
    transform: translateX(-20%);
  }
  &-3 {
    transform: translateX(-10%);
  }
  &-5 {
    transform: translateX(10%);
  }
  &-6 {
    transform: translateX(20%);
  }

}