@import '../../config';

.landing {
  width: 100%;
  height:110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.night {
  width: 100%;
  height:110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: $secondary-color;
  transform: translateX(-100%);
  @include transition-ease;

}

.name {
  position: fixed;
  text-align: center;
  color: $font-color;
  transform: translateY(-30%);
}