@import '../../config';

.landing {
  width: 100%;
  min-height: 100.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient((to right, $primary-color 50%, $secondary-color 50%));
  background-size: 200%, 100%;
  background-position: left;
  @include transition-ease;
}

.hidden-header {
  color: $primary-color; 
}

.night {
  background-position: right;
}

.name {
  position: fixed;
  text-align: center;
  color: $font-color;
  transform: translateY(-20%);
}