@import "../config";

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  box-shadow: 0 2px 8px $primary-color;
  border-radius: 6px;
  background-color: white;
  margin: 10em 3em 5em 3em;
  padding: 2.5em;

  &-title {
    padding: 0 0 0.5em 0;
  }

  &-text {
    font-size: 1.5rem;
  }
}
