@import "../config";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px $primary-color;
  border-radius: 6px;
  margin: 10em 3em 5em 3em;
  padding: 2.5em;

  &-title {
    padding: 0 0 0.75em 0;
    border-bottom: 2px solid $highlight-color;
  }

  &-text {
    padding: 1.5em;
    font-weight: "regular";
    text-align: left;
    width: 80%;
    max-width: 1200px;
    line-height: 2;
  }

  span {
    color: $highlight-color;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
