@import '../../config';

.skills {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;

  &-icon {
    display:"flex";
    justify-content: "center";
    align-items: "center";
    position:"absolute";
    width: 2em;
    height: 2em;
    border-radius: 15%;
    font-size: 1rem;
    font-weight: "bold";
  }
}

.image-container {
  @include flex-center;
  position: sticky;
  margin: 10em 0;
  top: 10em;
  border: 1px solid white;
  width: 70%;
  height: 600px;
}

