.nav {
  height: 5em;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin: 0 2em 0 0;
    color: white;
    font-size: 1.5rem;
  }
}

