@font-face{
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'EB Garamond', serif;
  src: url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Noto+Sans+JP:wght@100&display=swap');
}

$primary-color: #758286;
$secondary-color: #272727;
$highlight-color: rgb(26, 184, 196);
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition-ease {
  transition: all 2.5s ease;
}

.full-page {
  width: 90%;
  @include flex-center;
}

.half-page {
  width: 50%;
  @include flex-center;
  flex-direction: column;
}
.center {
  margin: 0 5% 0 5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

h1, h3 {
  font-family: 'EB Garamond', serif;
  font-style: italic;
}