body {
  background-color: rgb(218,218,218);
  overflow: hidden;
}

@font-face{
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'EB Garamond', serif;
  src: url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Noto+Sans+JP:wght@100&display=swap');
}

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "mega":5000,
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}


